.sidebar{
    width: 250px;
    height: 100%;
    top : 0;
    left: 0;
    position:fixed;
    background: whitesmoke;
    color: #150f0f;
    padding: 20px;
    padding-top: 20px;

}

h2{
    margin-bottom: 90px;
    color: green;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
.ulside{
    list-style: none;
    padding: 0;
  }
li{
    
    margin-bottom: 20px;
    cursor:pointer;
    font-size:large;
    font-weight: bold;
    padding: 10px;
    color:#150f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}
.sidebar li:hover{
    color:white;
    background-color:green;
    font-weight: bold;
}

.sear {
    text-align: right;
    margin-right: 800px;
    margin-left: 500px;

}

